body{
    background-color: #d0ebdd;
}

.container{
    height: 100vh;
}
.image{
    height:15vh;
    width: 19vh;
    position: relative;
    left: 3vw;
    top:1vh;
    border-radius: 5px;
}
.q{
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.heading{
    /* border:2px solid red; */
    text-align: center;
}
